@import '../../common.scss';
.homePage {
  background: '#ECECEC';
  padding: '30px';
}
.version {
  width: 100%;
  line-height: 15px;
  font-size: 13px;
  color: #666;
  padding: 10px;
  border-bottom: #bbb 1px dotted;
  &:last-child {
    border: none;
  }
  p {
    padding: 5px;
    line-height: 1.5;
    &:after {
      content:".";
      display:block;
      height:0;
      clear:both;
      visibility:hidden;
    }
  }
}
.tipTitle {
  line-height: 50px;
  margin: $commonMargin auto;
  padding: $commonPadding;
  @include borderRadius(5px);
  @include boxShadow(#ddd);
  color: #777;
  h3 {
    font-weight: normal;
  }
}
