@import '../../../common.scss';
.systemIcon {
  margin: 0 auto;
  width: 84px;
  line-height: 80px;
  text-align: center;
  font-size: $bigFontSIze;
  border: $bigBorder;
  border-radius: 100%;
  color: $baseActiveColor;
  font-weight: bold;
}
.systemName {
  text-align: center;
  padding: $rowPadding;
}
.operationLink {
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    transform: scale(2);
    animation: myfirst .2s;
    -moz-animation: myfirst .2s;
    -webkit-animation: myfirst .2s;
    -o-animation: myfirst .2s;
  }
}
@keyframes myfirst
{
  from {transform: scale(1);}
  to {transform: scale(2);}
}

@-moz-keyframes myfirst /* Firefox */
{
  from {-moz-transform: scale(1);}
  to {-moz-transform: scale(2);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
  from {-webkit-transform: scale(1);}
  to {-webkit-transform: scale(2);}
}

@-o-keyframes myfirst /* Opera */
{
  from {-o-transform: scale(1);}
  to {-o-transform: scale(2);}
}
